<link rel="stylesheet" href="/stylesheets/newCampground.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome back!</h3>
              <form action="/login" method="POST">
	<div class="form-label-group">
	<input type="text" id="inputEmail" class="form-control" name="username" placeholder="username">
	</div>
				  
	<div class="form-label-group">
	<input type="password" id="inputPassword" class="form-control" name="password" placeholder="password">
	</div>
				  
	<div class="form-label-group">
	<input type="submit" value="Login!">
	</div>
</form>
				<a href="/campgrounds">Go Back</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>