<link rel="stylesheet" href="/stylesheets/newCampground.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Post a New Film Still</h3>
              <form action="/campgrounds" method="post">
	<div class="form-group">
				<input class="form-control" type="text" name="name" 									placeholder="Movie Name">
			</div>
			<div class="form-group">
			<input class="form-control" type="text" name="price" 									placeholder="Your Name">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="image"                                     placeholder="img-url (image address)">
			</div>
			<div class="form-group">
			<input class="form-control" type="text" name="description"                                     placeholder="Description">
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-default btn-block">Submit!				</button>
			</div>
</form>
				<a href="/campgrounds">Go Back</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>